:root {
    --boot-lightest: rgba(255, 255, 255, 1);
    --boot-darkest: rgba(51, 51, 51, 1);
    --boot-bg-primary: rgba(44, 62, 80, 1);
    --boot-bg-primary-subtle: rgba(58, 84, 109, 1);
    --boot-bg-secondary: rgba(26, 188, 156, 1);
}

/* #region Debug */

/* * {
    border: 1px dashed deepskyblue;
} */

main {

    .contact {
        & form {
            height: 200px;
            background-color: palegoldenrod;
        }
    }
}
/* #endregion Debug */

/* #region header */

header {
    background-color: var(--boot-bg-primary);
    color: var(--boot-lightest);

    .menu {
        border: 2px solid var(--boot-lightest);
    }
}

/* #endregion header */

/* #region main */

.hero_page {
    background-color: var(--boot-bg-secondary);

    color: var(--boot-lightest);

    & img {
        width: 50%;
    }
}

.about {
    background-color: var(--boot-bg-secondary);
    color: var(--boot-lightest);

    & p {
        text-align: start;
    }

    .btn {
        border: 1px solid var(--boot-lightest);

        & a {
            text-decoration: none;
            color: var(--boot-lightest);
        }
    }
}

.portfolio,
.contact {
    .divider {
        color: var(--boot-bg-primary-subtle);
    }
}

/* #endregion main */

/* #region footer */

footer {
    color: var(--boot-lightest);

    .top {
        background-color: var(--boot-bg-primary-subtle);

        .fa-stack {
            color: var(--boot-lightest);
        }

        & span {
            color: var(--boot-bg-secondary);
        }
    }
    
    .bottom {
        background-color: var(--boot-bg-primary);
        font-size: 0.7rem;
    }
}

/* #region footer */