/* #region Debug */

* {
    border: 1px dashed deepskyblue;
}

header {
    background-color: navy;
    color: aliceblue;
    height: 50px;
}

main {
    background-color: palegreen;
    height: 500px;

    .hero_page {
        height: 50px;
        background-color: peachpuff;
    }

    .portfolio {
        & [class^="col"]:not(:first-child) {
            height: 50px;
            background-color: paleturquoise;
        }
    }
}

footer {
    background-color: aquamarine;
    height: 100px;
}


/* #endregion Debug */