/* #region Debug */

* {
    border: 1px dashed deepskyblue;
}

header {
    background-color: navy;
    color: aliceblue;
}

main {
    background-color: palegreen;


    .hero_page {
        background-color: peachpuff;
    }

    .portfolio {
        & [class^="col"]:not(:first-child) {
            height: 100px;
            background-color: paleturquoise;
        }

            & img {
                height: 50px;
                width: 50px;
                background-color: dodgerblue;
            }
    }

    .about {
        background-color: blueviolet;
    & p {
        background-color: palevioletred;
    }
    }

    .contact {
        & form {
            height: 100px;
            background-color: palegoldenrod;
        }
    }
}

footer {
    .top {
        & [class^="col"] {
            height: 50px;
            background-color: deeppink;
        }
    }

    .bottom {
        background-color: navy;
        color: aliceblue;
    }
}


/* #endregion Debug */